{% extends 'base.html' %}


{% load static %}

{% block content %}
<h3 class="page-title">
  <span class="page-title-icon bg-gradient-primary text-white me-2">
    <i class="mdi mdi-calendar"></i>
  </span> Manage Train Schedule
</h3>
<nav aria-label="breadcrumb">
  <ul class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
    </li>
  </ul>
</nav>
</div>

<div>
  <button type="button" class="btn btn-gradient-primary btn-rounded btn-fw"><a  href="{% url 'create-schedual' %}" style =" text-decoration: none; color:white;"> Add a schedule +</a></button>
</div>
<br>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Inverse table</h4>
      <p class="card-description"> Add class <code>.table-dark</code>
      </p>
      <div style="overflow-x: auto;">
      <table class="table table-dark">
        <thead>
    <tr>
      <th> ID </th>
      <th> Vehicle</th>
      <th> line</th>
      <th> Departure </th>
      <th> Arrival </th>
      <th> Frequence </th>
      <th> Created</th>
      <th> Edit</th>
      <th> Delete</th>

    </tr>
  </thead>
  <tbody>
    {% for schedule in schedules %}
    <tr>
      <td>{{schedule.id}}</td>
      <td>{{schedule.vehicle}}</td>
      <td>{{schedule.line}}</td>
      <td>{{schedule.departure}}</td>
      <td>{{schedule.arrival}}</td>
      <td>{{schedule.frequency}}</td>
      <td>{{schedule.created}}</td>

      <td>
        <a href="/edit-schedual/{{schedule.id}}">
            <button type="button" class="btn btn-inverse-success btn-icon">
          <i class="mdi mdi-border-color"></i>
        </button>
      </a>
        
      </td>
      <td>
        <a href="/delete-schedual/{{schedule.id}}">
            <button type="button" class="btn btn-inverse-danger btn-icon">
          <i class="mdi mdi-delete"></i>
        </button>
      </a>
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

</div> </div> </div> 
{% endblock %}