{% block mapcontent %}


<div id="map" style="height:500px; width: 100%;">
 <p> mapp from map.html </p>
</div>
{{ vehicles|json_script:"vehicle-json"}}
{{ location_station|json_script:"station-json"}}


{% block scripts %}
 <script>
    document.addEventListener('DOMContentLoaded', () => {
        let map = createMap([36.3071,6.5963] , 12);

        let vehicles = JSON.parse(document.getElementById('vehicle-json').textContent) 
        
        let markerFeatureGroup = L.featureGroup().addTo(map);
        let stationFeatureGroup = L.featureGroup().addTo(map);
      
        

        for(let vehicle of vehicles){
            L.marker([vehicle.latitude,vehicle.longitude]).addTo(markerFeatureGroup);
        }
        setInterval(() => updateMarkers(markerFeatureGroup), 1000)

        stationMarkers(stationFeatureGroup);

        

    })
 </script>
 <br><br><br><br>
 <table class="table table-dark">
    <thead>
      <tr>
        <th> ID </th>
        <th> Vehicle</th>
        <th> Speed </th>
        <th> Station </th>
        <th> Departure </th>
        <th> Destination </th>
        <th> Operationg </th>
        <th> Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 1 </td>
        <td> 103 </td>
        <td> 7.99 km/h </td>
        <td> constantine </td>
        <td> ass </td>
        <td> ssa </td>
        <td> 77.99 </td>
        <td> May 15, 2015 </td>
      </tr>
      <tr>
        <td> 1 </td>
        <td> 103 </td>
        <td> 7.99 km/h </td>
        <td> constantine </td>
        <td> ass </td>
        <td> ssa </td>
        <td> 77.99 </td>
        <td> May 15, 2015 </td>
      </tr>
      <tr>
        <td> 1 </td>
        <td> 103 </td>
        <td> 7.99 km/h </td>
        <td> constantine </td>
        <td> ass </td>
        <td> ssa </td>
        <td> 77.99 </td>
        <td> May 15, 2015 </td>
      </tr>
      <tr>
        <td> 1 </td>
        <td> 103 </td>
        <td> 7.99 km/h </td>
        <td> constantine </td>
        <td> ass </td>
        <td> ssa </td>
        <td> 77.99 </td>
        <td> May 15, 2015 </td>
      </tr>
      <tr>
        <td> 1 </td>
        <td> 103 </td>
        <td> 7.99 km/h </td>
        <td> constantine </td>
        <td> ass </td>
        <td> ssa </td>
        <td> 77.99 </td>
        <td> May 15, 2015 </td>
      </tr>
      <tr>
        <td> 1 </td>
        <td> 103 </td>
        <td> 7.99 km/h </td>
        <td> constantine </td>
        <td> ass </td>
        <td> ssa </td>
        <td> 77.99 </td>
        <td> May 15, 2015 </td>
      </tr>
      <tr>
        <td> 1 </td>
        <td> 103 </td>
        <td> 7.99 km/h </td>
        <td> constantine </td>
        <td> ass </td>
        <td> ssa </td>
        <td> 77.99 </td>
        <td> May 15, 2015 </td>
      </tr>
    </tbody>
  </table>


{% endblock %}
{% endblock %}